<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .form-row{
          justify-content : center;
        }
      </style>
    <title>Add Cards</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Flashcard Application</span>
        <form action='{{ url_for("dashboard",email = email,deck_name = deck_name) }}' align = 'center'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Dashboard</button>
        </form>
      </nav>
      {% block content %}
      {% for message in get_flashed_messages() %}
      <div class="alert alert-primary" role="alert">
          {{ message }}
      {% endfor %}
  
      {% block page_content %}{% endblock %}
  </div>
  {% endblock %}

  

  <form method = 'POST' action = '{{ url_for("add_cards",email = email,deck_name = deck_name) }}' align = "center">
    <div class="form-row" align = "center">
      <div class="form-group">
        <label for="card_front">Enter Card's Front</label>
        <input type="text" class="form-control" name = "card_front" id = "card_front" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="card_back">Enter Card's Back</label>
        <input type="text" class="form-control" name = "card_back" id = "card_back" autocomplete="off">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Card to Deck</button>
  </form>

</body>
</html>